/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ORDER */
.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: #283f47;
}
/* LOGO */
.logo-container {
  width: 200px;
  margin: 30px 20px;
  color: #f2f2f2;
}

.title {
  padding-left: 30px;
  font-size: 25px;
}

/* ORDER CONTAINER */
.order-container {
  width: 50vh;
  margin: 0 auto;
}

.order {
  background-color: #c0bdbd;
  border-radius: 8px 8px 8px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d6d6;
  border-bottom-width: 0px;
}

#custom-form {
  display: none;
}

#menu-form {
  display: block;
}

form {
  padding: 10px;
}

/* CHOICE */
.choice {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  height: 40px;
}

.choice-btn {
  border-style: none;
}

#custom {
  border-radius: 0px 0px 8px 0px;
  background-color: #f2f2f2;
}

#menu {
  border-radius: 0px 0px 0px 8px;
  background-color: #c0bdbd;
}

#custom, #menu {
  border-width: 1px;
  border-style: solid;
  border-color: #d8d6d6;
  border-top-width: 0px;
}

#custom:hover, #menu:hover {
  background-color: #c0bdbd;
}

/* ORDER LIST REF */
.order-list a{
  text-decoration: none;
  margin: 60px;
  color: #f2f2f2;
  font-size: 20px;
}

.order-list a:hover {
  text-decoration: none;
  color: #d8d6d6;
}

/* ORDER LIST */
.order-list-container {
  width: 80vh;
  margin: 0 auto;
  overflow: auto;
}

/* TABLE */

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #dbdbdb;}

#customers tr:nth-child(odd){background-color: #406572;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #283f47;
  color: white;
}